<app-header />

<main>
  <div id="dashboard">
    <app-dashboard-element
      [image]="{ src: 'estado.png', alt: 'Un símbolo del estado' }"
      title="Estado del Servidor"
    >
      <app-estado-servidor />
    </app-dashboard-element>
    <app-dashboard-element [image]="{ src: 'globo.png', alt: 'Un globo' }" title="Tráfico">
      <app-trafico />
    </app-dashboard-element>

    <app-dashboard-element [image]="{ src: 'lista.png', alt: 'Una lista de elementos' }" title="Registros de soporte">
      <app-registros />
    </app-dashboard-element>
  </div>
</main>
